html,body{
	font-family: 'Vazir';


margin:0;padding:0;
}



img.menu,img.closemenu{

display: none;

}
nav{
	    margin-bottom: -1rem;}


ul{

background-color: blueviolet;

display: flex;

justify-content: right;
list-style:none;


position: fixed;


width: 100%;

}
#hell{margin-right:'2rem'

h1.s{


padding: 1.5rem;

font-size: 1.1rem;

}


a{

    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);


}



a:hover{

color: #fff;



}

h1.s:hover{


  border-bottom: solid 2px orange;
}


.dslorem{
    margin-top: 4rem;
width: 100%;
height: 50vh;

}



h1.lorem{
margin-top: -25rem;
margin-bottom: 25rem;

text-align: center;
color: #fff;
mix-blend-mode: lighten;

}


p.lore{
margin-top: -15rem;
margin-bottom: 20rem;
color: #fff;
mix-blend-mode: lighten;
text-align: center;

}


div.sec2{

display: flex;

justify-content: space-evenly;

}





.he{


    border-radius: 50vh;

    height: 15vh;



}





p.seee{
    margin-top: 3rem;
    text-align: center;
}





.top{


  
border-radius: 50vh;


    
position: fixed;



bottom: 0;


height: 8vh;

    
cursor: pointer;
margin: 0 .2rem .2rem 0 ;


right: 0;
}

footer{

color: #fff;

	background-color: rgba(39, 33, 33, 0.836);

margin-top: 10rem;

}h2{

    padding: 2rem;

    text-align: left;
}


.copy{
    color: #ffa500;
    text-align: center;padding: 2rem;
    font-size: 1.3rem;
}
.loaded{

	opacity: 0;
	visibility: hidden;
}




.loading-page{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255,.9);
display: flex;
justify-content: center;
align-items: center;

	padding: 0;
	margin: 0;
	height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
display: none;
transition: ease all .5s;

}


.loading-circle{

width: 50px;
height: 50px;
border: 2px solid blue;
border-radius: 50vh;
border-bottom: none;
border-left: none;
transform: rotate(0);
animation-name: loader;
animation-iteration-count: infinite;
animation-duration: .5s;
animation-timing-function: linear;
}



@keyframes loader{
	from{transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
   
}
 @media (prefers-color-scheme:dark){
        body{background-color: #2a2438;
        color: #fff;
    }
    ul{
        background-color: #352f44;
    }
    
    }

#loader{
	display: none;
}
